@font-face {
    font-family: SuisseBP;
    src: url(../fonts/Suisse-BP-intl-light.woff2) format('woff2');
    font-weight: 300;
    font-style: lighter;
    font-display: swap;
}
@font-face {
    font-family: SuisseBP;
    src: url(../fonts/Suisse-BP-intl-regular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: PhaseA;
    src: url(../fonts/Phase-AGX.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: Panama;
    src: url(../fonts/Panama.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: CompactaStd;
    src: url(../fonts/CompactaStd-Bold.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: Pretendard;
    src: url(../fonts/Pretendard-Regular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: Pretendard;
    src: url(../fonts/Pretendard-Bold.woff2) format('woff2');
    font-weight: 700;
    font-style: bold;
    font-display: swap;
}
@font-face {
    font-family: Pretendard;
    src: url(../fonts/Pretendard-Light.woff2) format('woff2');
    font-weight: 300;
    font-style: lighter;
    font-display: swap;
}